<?xml version="1.0"?>
<config>
	<modules>
		<Radarsofthouse_Reepay>
			<version>1.0.11</version>
		</Radarsofthouse_Reepay>
	</modules>
	<global>
		<models>
			<reepay>
				<class>Radarsofthouse_Reepay_Model</class>
				<resourceModel>reepay_mysql4</resourceModel>
			</reepay>
			<reepay_mysql4>
				<class>Radarsofthouse_Reepay_Model_Mysql4</class>
				<entities>        
					<status>
						<table>reepay_order_status</table>
					</status>
				</entities>
			</reepay_mysql4>
		</models>
		<helpers>
			<reepay>
				<class>Radarsofthouse_Reepay_Helper</class>
			</reepay>
		</helpers>
		<blocks>
			<reepay>
				<class>Radarsofthouse_Reepay_Block</class>
			</reepay>
		</blocks>
		<template>
			<email>
				<reepay_payment translate="label">
					<label>Reepay payment</label>
					<file>reepay_payment.html</file>
					<type>html</type>
				</reepay_payment>
			</email>
		</template>
		<resources>
			<reepay_setup>
				<setup>
					<module>Radarsofthouse_Reepay</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</reepay_setup>
			<reepay_write>
				<connection>
					<use>core_write</use>
				</connection>
			</reepay_write>
			<reepay_read>
				<connection>
					<use>core_read</use>
				</connection>
			</reepay_read>
		</resources>
		<events>
			<sales_order_payment_cancel>
				<observers>
					<Radarsofthouse_Reepay>
						<type>singleton</type>
						<class>Radarsofthouse_Reepay_Model_Observer</class>
						<method>cancleOrder</method>
					</Radarsofthouse_Reepay>
				</observers>
			</sales_order_payment_cancel>
		</events>
	</global>
	<frontend>
		<routers>
			<reepay>
				<use>standard</use>
				<args>
					<module>Radarsofthouse_Reepay</module>
					<frontName>reepay</frontName>
				</args>
			</reepay>
		</routers>
		<layout>
			<updates>
				<reepay>
					<file>reepay.xml</file>
				</reepay>
			</updates>
		</layout>
		<translate>
			<modules>
				<Radarsofthouse_Reepay>
					<files>
						<default>Radarsofthouse_Reepay.csv</default>
					</files>
				</Radarsofthouse_Reepay>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<events>
			<checkout_submit_all_after>
				<observers>
					<Radarsofthouse_Reepay>
						<type>singleton</type>
						<class>Radarsofthouse_Reepay_Model_Observer</class>
						<method>checkoutSubmitAllAfter</method>
					</Radarsofthouse_Reepay>
				</observers>
			</checkout_submit_all_after>
		</events>
	</adminhtml>
	<default>
		<payment>
			<reepay>
				<model>reepay/standard</model>
				<active>0</active>
				<title>Reepay payment</title>
				<instructions>The best payments in Europe.</instructions>
				<private_key_test/>
				<private_key/>
				<api_key_type>0</api_key_type>
				<order_status>pending</order_status>
				<order_status_after_payment>processing</order_status_after_payment>
				<display_type>1</display_type>
				<auto_capture>0</auto_capture>
				<send_email_after_payment>0</send_email_after_payment>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<allowwed_payment>card,dankort,visa,visa_dk,visa_elec,mc,amex,diners,maestro,laser,discover,jcb,china_union_pay</allowwed_payment>
				<payment_icons>american-express,dankort,diners-club-international,discover,forbrugsforeningen,jcb,maestro,mastercard,mobilepay,unionpay,viabill,visa,visa-electron</payment_icons>
				<log>1</log>
				<sort_order>1</sort_order>
			</reepay>
			<reepay_viabill>
				<model>reepay/viabill</model>
				<active>0</active>
				<title>Reepay viabill</title>
				<instructions>Viabill payment from Reepay</instructions>
				<show_icon>0</show_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
			</reepay_viabill>
			<reepay_mobilepay>
				<model>reepay/mobilepay</model>
				<active>0</active>
				<title>Reepay Mobile Pay</title>
				<instructions>Mobile Pay payment from Reepay</instructions>
				<show_icon>0</show_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>3</sort_order>
			</reepay_mobilepay>
		</payment>
	</default>
</config>
