<?xml version="1.0"?>
<config>
	<modules>
		<Radarsofthouse_Reepay>
			<version>1.0.49</version>
		</Radarsofthouse_Reepay>
	</modules>
	<global>
		<models>
			<reepay>
				<class>Radarsofthouse_Reepay_Model</class>
				<resourceModel>reepay_mysql4</resourceModel>
			</reepay>
			<reepay_mysql4>
				<class>Radarsofthouse_Reepay_Model_Mysql4</class>
				<entities>        
					<status>
						<table>reepay_order_status</table>
					</status>
				</entities>
			</reepay_mysql4>
		</models>
		<helpers>
			<reepay>
				<class>Radarsofthouse_Reepay_Helper</class>
			</reepay>
		</helpers>
		<blocks>
			<reepay>
				<class>Radarsofthouse_Reepay_Block</class>
			</reepay>
		</blocks>
		<template>
			<email>
				<reepay_payment translate="label">
					<label>Reepay payment</label>
					<file>reepay_payment.html</file>
					<type>html</type>
				</reepay_payment>
			</email>
		</template>
		<resources>
			<reepay_setup>
				<setup>
					<module>Radarsofthouse_Reepay</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</reepay_setup>
			<reepay_write>
				<connection>
					<use>core_write</use>
				</connection>
			</reepay_write>
			<reepay_read>
				<connection>
					<use>core_read</use>
				</connection>
			</reepay_read>
		</resources>
		<events>
			<sales_order_payment_cancel>
				<observers>
					<Radarsofthouse_Reepay>
						<type>singleton</type>
						<class>Radarsofthouse_Reepay_Model_Observer</class>
						<method>cancleOrder</method>
					</Radarsofthouse_Reepay>
				</observers>
			</sales_order_payment_cancel>
			<sales_order_payment_capture>
				<observers>
					<radarsofthouse_reepay_latest_captured_invoice>
						<type>singleton</type>
						<class>Radarsofthouse_Reepay_Model_Observer</class>
						<method>setLatestCapturedInvoice</method>
					</radarsofthouse_reepay_latest_captured_invoice>
				</observers>
			</sales_order_payment_capture>
            <core_block_abstract_to_html_before>
                <observers>
                    <radarsofthouse_core_block_abstract_to_html_before>
                        <type>singleton</type>
						<class>Radarsofthouse_Reepay_Model_Observer</class>
						<method>disableBlockCache</method>
                    </radarsofthouse_core_block_abstract_to_html_before>
                </observers>
            </core_block_abstract_to_html_before>
		</events>
	</global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Radarsofthouse_Reepay before="Mage_Adminhtml">Radarsofthouse_Reepay_Adminhtml</Radarsofthouse_Reepay>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<frontend>
		<routers>
			<reepay>
				<use>standard</use>
				<args>
					<module>Radarsofthouse_Reepay</module>
					<frontName>reepay</frontName>
				</args>
			</reepay>
		</routers>
		<layout>
			<updates>
				<reepay>
					<file>reepay.xml</file>
				</reepay>
			</updates>
		</layout>
		<translate>
			<modules>
				<Radarsofthouse_Reepay>
					<files>
						<default>Radarsofthouse_Reepay.csv</default>
					</files>
				</Radarsofthouse_Reepay>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<events>
			<checkout_submit_all_after>
				<observers>
					<Radarsofthouse_Reepay>
						<type>singleton</type>
						<class>Radarsofthouse_Reepay_Model_Observer</class>
						<method>checkoutSubmitAllAfter</method>
					</Radarsofthouse_Reepay>
				</observers>
			</checkout_submit_all_after>
		</events>
	</adminhtml>
	<default>
		<payment>
			<reepay>
				<model>reepay/standard</model>
				<active>0</active>
				<title>Reepay payment</title>
				<instructions>The best payments in Europe.</instructions>
				<private_key_test/>
				<private_key/>
				<api_key_type>0</api_key_type>
				<order_status>pending</order_status>
				<order_status_after_payment>processing</order_status_after_payment>
				<cancel_order_after_payment_cancel>1</cancel_order_after_payment_cancel>
				<display_type>1</display_type>
				<auto_capture>0</auto_capture>
				<send_order_line>1</send_order_line>
				<send_email_after_payment>1</send_email_after_payment>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<allowwed_payment>card,dankort,visa,visa_dk,visa_elec,mc,amex,klarna_pay_later,klarna_pay_now,diners,maestro,laser,discover,jcb,china_union_pay,ffk,applepay,paypal,resurs,googlepay,ideal,blik,p24,verkkopankki,giropay,sepa</allowwed_payment>
				<payment_icons>american-express,dankort,diners-club-international,discover,forbrugsforeningen,jcb,maestro,mastercard,mobilepay,unionpay,viabill,visa,visa-electron,klarna-pay-later,klarna-pay-now,applepay,paypal,resurs,googlepay,ideal,blik,p24,verkkopankki,giropay,sepa</payment_icons>
				<log>1</log>
				<sort_order>1</sort_order>
			</reepay>
			<reepay_viabill>
				<model>reepay/viabill</model>
				<active>0</active>
				<title>Reepay viabill</title>
				<instructions>Viabill payment from Reepay</instructions>
				<show_icon>0</show_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
			</reepay_viabill>
			<reepay_mobilepay>
				<model>reepay/mobilepay</model>
				<active>0</active>
				<title>Reepay Mobile Pay</title>
				<instructions>Mobile Pay payment from Reepay</instructions>
				<show_icon>0</show_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>3</sort_order>
			</reepay_mobilepay>
            <reepay_paypal>
				<model>reepay/paypal</model>
				<active>0</active>
				<title>Reepay Paypal</title>
				<instructions>Paypal payment from Reepay</instructions>
				<show_icon>0</show_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>4</sort_order>
			</reepay_paypal>
            <reepay_klarnapaynow>
				<model>reepay/klarnapaynow</model>
				<active>0</active>
				<title>Reepay Klarna Pay Now</title>
				<instructions>Klarna Pay Now payment from Reepay</instructions>
				<show_icon>0</show_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>5</sort_order>
			</reepay_klarnapaynow>
            <reepay_klarnapaylater>
				<model>reepay/klarnapaylater</model>
				<active>0</active>
				<title>Reepay Klarna Pay Later</title>
				<instructions>Klarna Pay Later payment from Reepay</instructions>
				<show_icon>0</show_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>5</sort_order>
			</reepay_klarnapaylater>
			<reepay_klarnasliceit>
				<model>reepay/klarnasliceit</model>
				<active>0</active>
				<title>Reepay Klarna Slice It</title>
				<instructions>Klarna Slice It payment from Reepay</instructions>
				<show_icon>0</show_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>6</sort_order>
			</reepay_klarnasliceit>
            <reepay_applepay>
				<model>reepay/applepay</model>
				<active>0</active>
				<title>Reepay Apple Pay</title>
				<instructions>Apple Pay payment from Reepay</instructions>
				<show_icon>0</show_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>7</sort_order>
			</reepay_applepay>
            <reepay_swish>
				<model>reepay/swish</model>
				<active>0</active>
				<title>Reepay Swish</title>
				<instructions>Swish payment from Reepay</instructions>
				<show_icon>0</show_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>8</sort_order>
			</reepay_swish>
            <reepay_resurs>
				<model>reepay/resurs</model>
				<active>0</active>
				<title>Reepay Resurs Bank</title>
				<instructions>Resurs Bank payment from Reepay</instructions>
				<show_icon>0</show_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>9</sort_order>
			</reepay_resurs>
			<reepay_vipps>
				<model>reepay/vipps</model>
				<active>0</active>
				<title>Reepay Vipps</title>
				<instructions>Vipps payment from Reepay</instructions>
				<show_icon>0</show_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>10</sort_order>
			</reepay_vipps>
            <reepay_forbrugsforeningen>
				<model>reepay/forbrugsforeningen</model>
				<active>0</active>
				<title>Reepay Forbrugsforeningen</title>
				<instructions>Forbrugsforeningen payment from Reepay</instructions>
				<show_icon>0</show_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>11</sort_order>
			</reepay_forbrugsforeningen>
            <reepay_googlepay>
				<model>reepay/googlepay</model>
				<active>0</active>
				<title>Reepay Google Pay</title>
				<instructions>Google Pay payment from Reepay</instructions>
				<show_icon>0</show_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>12</sort_order>
			</reepay_googlepay>
            <reepay_ideal>
				<model>reepay/ideal</model>
				<active>0</active>
				<title>Reepay iDEAL</title>
				<instructions>iDEAL payment from Reepay</instructions>
				<show_icon>0</show_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>13</sort_order>
			</reepay_ideal>
            <reepay_blik>
				<model>reepay/blik</model>
				<active>0</active>
				<title>Reepay BLIK</title>
				<instructions>BLIK payment from Reepay</instructions>
				<show_icon>0</show_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>14</sort_order>
			</reepay_blik>
            <reepay_p24>
				<model>reepay/p24</model>
				<active>0</active>
				<title>Reepay Przelewy24 (P24)</title>
				<instructions>Przelewy24 (P24) payment from Reepay</instructions>
				<show_icon>0</show_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>15</sort_order>
			</reepay_p24>
            <reepay_verkkopankki>
				<model>reepay/verkkopankki</model>
				<active>0</active>
				<title>Reepay Verkkopankki</title>
				<instructions>Verkkopankki payment from Reepay</instructions>
				<show_icon>0</show_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>16</sort_order>
			</reepay_verkkopankki>
            <reepay_giropay>
				<model>reepay/giropay</model>
				<active>0</active>
				<title>Reepay giropay</title>
				<instructions>giropay payment from Reepay</instructions>
				<show_icon>0</show_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>17</sort_order>
			</reepay_giropay>
            <reepay_sepa>
				<model>reepay/sepa</model>
				<active>0</active>
				<title>Reepay SEPA Direct Debit</title>
				<instructions>SEPA Direct Debit payment from Reepay</instructions>
				<show_icon>0</show_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>18</sort_order>
			</reepay_sepa>
		</payment>
	</default>
</config>
